*{
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s ease;
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    z-index: 0;
    color: #000;
}

div{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 150px;
    background: linear-gradient(90deg, #00FF88, #00C3FF);
}


pre{
    position: relative;
    left: -40px;
    margin: 0;
}

.hidden { opacity: 0; transform: translateY(20px); }
.show   { opacity: 1; transform: translateY(0); transition: opacity 0.8s ease-in, transform 0.8s ease-in; }

ol, ul{
    position: relative;
    left: 20px;
}
h3{
    position: relative;
    left: 30px;
}
